.bonus-box
  padding-top 73px
  padding-bottom 110px
  background #4e5153 url(../img/bonus-background.jpg) center top
  background-size 100% 726px

  &_image
    margin-bottom 13px

  &_header
    margin-bottom 26px
    font-family 'GothamProRegular', 'Arial', sans-serif
    color #fff

    span
      font-weight bold

  &_button-wrap
    width 288px
    margin 0 auto
    margin-bottom 29px

  &_button
    display block
    height 57px
    padding-left 73px
    padding-top 20px
    padding-right 74px
    padding-bottom 17px
    border-radius 4px
    color #fff
    background-color #ff9400
    text-decoration none
    font-size 1.6em
    font-family 'GothamProMedium', 'Arial', sans-serif
    letter-spacing -0.005em
    border 1px solid #ff9400
    transition: color ease 0.08s, background-color ease 0.08s;

    &:hover
      background-color transparent
      border 1px solid #ff9400
      color #ff9400

  &_text
    position relative
    width 530px
    margin 0 auto
    color #fff
    font-family 'GothamProRegular', 'Arial', sans-serif
    font-size 20px
    line-height 22px
    text-align center
    letter-spacing -0.027em

    &::before
      position absolute
      left -13px
      top -7px
      content '“'
      width 20px
      height 14px
      color #ff9400
      font-family 'GothanProBlack', 'Arial', sans-serif
      font-weight bold
      font-size 40px
      line-height 50px

