@import './components/_colors.styl'
@import './components/_buttons.styl'

.center
	text-align center
.right
	text-align right


body
	font-family 'GothamProRegular', sans-serif
	background-color #fff

#page
	width 100%
	height auto
	position relative
	
.contain-box
	padding-top 86px	
	&_b-paste
		background-color paste	
	&_b-almostBlack
		background-color almostBlack	
	&_b-almostWhite
		background-color almostWhite
	&_b-seriousBlue
		background-color seriousBlue
	&_b-cuteBlack
		background-color cuteBlack		
	&_padding
		padding 10px 0
	&_no-padding
		padding 0


.decorate-line
	height 1px
	background-color almostWhite
	background: linear-gradient(to right, #fcfcfb 0%,#dcdcdc 25%,#dcdcdc 75%,#fcfcfb 100%);
	



.header-primary
	font-family 'GothamProMedium', sans-serif
	font-size 4.8em
	letter-spacing -.045em
	margin-bottom 16px
	line-height 1.16666
	&_c-almostBlack
		color almostBlack
		
	&_c-almostWhite
		color almostWhite
		
.header-secondary
	font-size 1.8em
	letter-spacing -.045em
	line-height 1.33333
	margin-bottom 32px
	&_c-almostBlack
		color almostBlack
	
	&_c-almostWhite
		color almostWhite



.main-box
	color #000
	background-image url(../img/main-background.jpg)
	background-position right center
	// background-size cover
	background-repeat no-repeat
	// margin-top 72px
	height 600px
	overflow hidden
	&_fog
		background-color fog
	&_mist
		background-color mist
	
	&__button
		display inline-block
		text-decoration none
		font-size 1.6em
		font-family 'GothamProMedium', sans-serif
		padding 18px 32px
		color almostWhite
		border-radius 6px
		border 1px solid juiceOrange
		transition all ease .09s
		margin-bottom 78px
		&_juiceOrange
			background-color juiceOrange
			&:hover
				color juiceOrange
				background-color transparent
	
	&__aditional-link
		font-family 'GothamProMedium', sans-serif
		font-size 1.4em
		line-height 1.2
		text-decoration none
		color almostBlack
		opacity .5
		transition all ease .09s
		position relative
		float left
		// margin-bottom 48px
		&:before
			content ""
			width 6px
			height 10px
			display inline-block
			margin-right 8px
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAQAAAA9B+e4AAAASElEQVQI12P4z1DJ9J8BAhkqzSu/V0bDOCmV/yv/QrhAVNkB5haBOVDu/8p8CCcTzElBMEtBBviBmZkQ07QqP0CYENMYYZYCABHYPxZfoos6AAAAAElFTkSuQmCC');
		&:hover
			opacity 1
		
	.header-primary
		margin-top 116px
		margin-bottom 20px
	
	.header-secondary
		margin-bottom 48px
		line-height 1.55555

.feature
	&__padfixer
		padding 0 36px

.feature-box
	color almostBlack
	padding 56px 24px 0px
	position relative
	opacity 0
	// height 380px
	&:hover
		.feature-box__icon
			transform translateY(-8px)
	&__icon
		width 102px
		height 102px
		position relative
		margin 0 auto
		transition: transform ease-out .2s .07s
		transform: translateY(0);
		&_1
			background-image url(../img/icon-features-1.png)
		&_2
			background-image url(../img/icon-features-2.png)
		&_3
			background-image url(../img/icon-features-3.png)
		&_4
			background-image url(../img/icon-features-4.png)
		&_5
			background-image url(../img/icon-features-5.png)
	
	&_1
		padding-left 42px	
	&_1:after
		content ''
		display block
		position absolute
		height 1px
		width 100%
		bottom 0
		left 0
		background-color #dadada
		background linear-gradient(to left, #dadada 0%,#dadada 63%,#fcfcfb 100%)
	// &_1:before
	// 	content ''
	// 	display block
	// 	position absolute
	// 	height 100%
	// 	width 1px
	// 	bottom 0
	// 	right 0
	// 	background-color #dadada
	// 	background linear-gradient(to top, #dadada 0%,#dadada 50%,#fcfcfb 100%)
	&_2:after
		content ''
		display block
		position absolute
		height 1px
		width 100%
		bottom 0
		left 0
		background-color #dadada
		background linear-gradient(to top, #dadada 0%,#dadada 50%,#fcfcfb 100%)
	&_2:before
		content ''
		display block
		position absolute
		height 100%
		width 1px
		bottom 0
		left 0
		background-color #dadada
		background linear-gradient(to top, #dadada 0%,#dadada 50%,#fcfcfb 100%)
	&_3
		padding-right 42px
	&_3:after
		content ''
		display block
		position absolute
		height 1px
		width 100%
		bottom 0
		left 0
		background-color #dadada
		background linear-gradient(to right, #dadada 0%,#dadada 63%,#fcfcfb 100%)
	&_3:before
		content ''
		display block
		position absolute
		height 100%
		width 1px
		bottom 0
		left 0
		background-color #dadada
		background linear-gradient(to top, #dadada 0%,#dadada 50%,#fcfcfb 100%)
	&_5
		padding 56px 40px 0px
	&_5:before
		content ''
		display block
		position absolute
		height 100%
		width 1px
		bottom 0
		left 0
		background-color #dadada
		background linear-gradient(to bottom, #dadada 0%,#dadada 50%,#fcfcfb 100%)
	
	&__title
		font-size 1.8em
		line-height 2.333333
		font-family 'GothamProMedium', sans-serif
		letter-spacing -.025em
	
	&__text
		font-size 1.6em
		line-height 1.5
		color #515151
		letter-spacing -.025em
		padding-bottom 56px
.no-js,.no-csstransitions
	.feature-box
		opacity 1


.comments
	overflow hidden

.comment-box-nested
	margin-top 20px

.comment-box
	padding-left 98px
	padding-right 32px
	position relative
	overflow hidden
	width 100%
	&:after
		content '“'
		display block
		position absolute
		top -10px
		left 12px
		font-size 11.4em
		letter-spacing -.045em
		line-height 1
		color juiceOrange
		font-family 'GothamProBlack', sans-serif
	&__text
		font-size 1.4em
		letter-spacing -.045em
		line-height 1.6428
		padding-right 22px
		color almostBlack
.comments .comment-box
	transform translate3d(200px, 0, 0)
	opacity 0
.no-js,.no-csstransitions
	.comment-box
		transform translate3d(0, 0, 0)
		opacity 1


.person-box-nested
	margin-top 40px
	overflow hidden
	border-top-width 1px
	border-bottom-width 1px
	border-style solid
	border-color #e2e0de
	padding-top 28px
	padding-bottom 28px

.person-box
	padding-left 98px
	&__avatar
		position relative
		display inline-block
		overflow hidden
		width 60px
		height @width
		border-radius (@width/2)
		>img
			position relative
			width 100%
			height 100%
			display block
			border-radius 60px
			
	&__info
		display inline-block
		position relative
		vertical-align top
		padding-left 16px
		padding-top 8px	
	&__name
		font-family 'GothamProMedium', sans-serif
		line-height 1
		font-size 1.6em
		letter-spacing -.045em
	&__work
		font-family 'GothamProLight', sans-serif
		line-height 1.57142
		font-size 1.4em
		letter-spacing -.045em
		text-transform uppercase
		padding-top 2px
.comments .person-box
	transform translate3d(200px, 0, 0)
	opacity 0
.no-js,.no-csstransitions
	.person-box
		transform translate3d(0, 0, 0)
		opacity 1
.comments_padding
	padding-top 58px
		

.comments__button
	display inline-block
	font-size 1.8em
	border 1px solid juiceOrange
	line-height 1
	padding 14px 20px
	margin 38px 0
	letter-spacing -0.045em


.map-block
	background-image url(../img/map-temporary.png)
	background-repeat no-repeat
	background-position top center
	background-size cover
	height 596px
	overflow hidden
	
	.button-nest
		margin-bottom 96px
		margin-top 48px
	
	&__button-wrap
		width 240px
		height 42px
		position relative
		margin 0px auto
		padding-top 1px
	
	&__dropdown		
		position absolute
		display block
		padding 0px
		height 100%
		line-height 42px
		width 100%
		left 0px
		top 0
		font-family 'GothamProBold', sans-serif
		// line-height 1
		font-size 1.8em
		-moz-user-select none
		user-select none
		// padding 12px 40px 12px 26px
		// min-width 232px
		// position relative
		// margin-bottom 96px
		// margin-top 16px
		&:hover
			background-color mellowOrange
		&:after
			content ''
			display block
			position absolute
			width 10px
			height 6px
			right 20px
			top 50%
			transform translateY(-50%)
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAARUlEQVQIHQXBMQ2EUABAsQdyMICLM8DK8icSEjwg9zYmUtpk8ZMku1WZ/DEkNx5zMsBw47UpyQC8NilJLnBKSpLsDkn6AA6uT9bzONjDAAAAAElFTkSuQmCC');
	
	&__dropdown-list
		position relative
		width 100%
		margin-top 50px
		background-color juiceOrange
		z-index 999
		border-radius 4px
		opacity 0
		// pointer-events none
		visibility hidden
		transition opacity .15s ease
	
	&__dropdown-list.act
		opacity 1
		// pointer-events all
		visibility visible
	
	&__dropdown-item
		color rgb(255, 255, 255)
		font-size 1.6em
		padding 12px 0px
		cursor pointer
		border-top-width 1px
		border-bottom-width 1px
		border-style solid
		border-top-color juiceOrange
		border-bottom-color juiceOrange
		&:first-child
			border-top-right-radius 8px
			border-top-left-radius 8px
		&:last-child
			border-bottom-right-radius 8px
			border-bottom-left-radius 8px
		&:hover
			background-color mellowOrange
			border-top-color #ED7500
			border-bottom-color #F57902
		





.statistics-box-nest
	overflow hidden
	// padding-bottom 74px

.statistics-box
	color almostWhite
	
	&__head
		font-size 6em
		font-family 'GothamProLight', sans-serif
		line-height 1
		letter-spacing -.045em
		margin-bottom 18px
	&__body
		font-size 1.6em
		line-height 1.3125
		letter-spacing -.045em
		padding 0 20px


.prices
	padding-bottom 60px
	&_padding
		padding-top 58px

.prices-box-nest
	margin-top 60px

.prices-box-wrap
	padding 18px

.prices-box
	padding 18px
	border-width 1px
	border-style solid
	border-radius 8px
	height 520px
	position relative
	
	&__button
		transition color ease .08s, background-color ease .08s
	
	&_almostBlack
		border-color almostBlack
		color almostBlack
		.prices-box__button
			background-color almostBlack
			border 1px solid almostBlack			
			color #fff
			&:hover
				background-color #fff
				color almostBlack
	&_juiceOrange
		border-color juiceOrange
		color juiceOrange
		.prices-box__button
			background-color juiceOrange
			border 1px solid juiceOrange			
			color #fff
			&:hover
				background-color #fff
				color juiceOrange
	&_seriousBlue
		border-color seriousBlue
		color seriousBlue
		.prices-box__button
			background-color seriousBlue
			border 1px solid seriousBlue			
			color #fff
			&:hover
				background-color #fff
				color seriousBlue
	
	&_icon
		&:after
			content ''
			display block
			width 114px
			height 114px
			position absolute
			top -62px
			left 50%
			margin-left (-@width/2)		
		&_a:after
			background-image url(../img/icon-prices-2.jpg)
		&_b:after
			background-image url(../img/icon-prices-1.jpg)
		&_c:after
			background-image url(../img/icon-prices-3.jpg)
	
	&__header
		font-family 'GothamProMedium', sans-serif
		color almostBlack
		font-size 1.8em
		line-height 2.33333
		letter-spacing -.025em
		margin-top 48px
	
	&__price
		font-family 'GothamProBlack', sans-serif
		font-size 5.2em
		line-height 1
		letter-spacing -.045em
		color inherit
	
	&__taks
		font-size 1.8em
		letter-spacing -.045em
		color inherit
		line-height 1.05555555
	
	&__service-list
		color lynch
		list-style none
		margin-top 30px
		padding 0 24px
		>li
			border-top 1px solid #E2E0DE
			padding 12px 0
			font-size 1.6em
			letter-spacing -.025em
			line-height 1.4375
	
	&__button-wrap
		position absolute
		right 0px
		left 0px
		bottom 0px
		padding 18px
		
	&__button
		text-decoration none
		display block
		color almostWhite
		height 44px
		border-radius 6px
		line-height @height
		font-size 1.6em
		font-family 'GothamProMedium', sans-serif
		letter-spacing -.005em


@import './components/_tempAnimation.styl'
@import './base/responsive.styl'