.questions-answers
  &__header
    padding-top 29px
    padding-bottom 34px
    background-color #f0f0f0
    h1
      font-family 'GothamProBold', sans-serif
      font-size 3.6em
      line-height 1.11111
      letter-spacing -0.048em
  &__search
    text-align center
    margin-bottom 68px
    position relative
    input
      width 472px
      padding-left 11px
      padding-right 50px
      padding-top 10px
      padding-bottom 6px
      font-family 'GothamProRegular', sans-serif
      font-size 1.8em
      line-height 1.5555
      letter-spacing -0.048em
      background url(../img/icon-search.png) no-repeat 95% 50%
      &::after
        content ''
        display block
        width 19px
        height 19px
        z-index 5
        position absolute
        right 10px
        top 50%
        transform translateY(-50%)
        background-repeat no-repeat
        background-image url(../img/sprite-questions.png)
        background-position -114px -20px

.questions-answers-box
  padding-top 60px
  padding-bottom 158px

.questions-categories
  &__group
    width 511px
    &_left
      float left
      width 514px
      padding-left 3px
    &_right
      float right

.questions-category
  margin-bottom 16px
  &__header
    position relative
    padding-left 14px
    padding-top 7px
    padding-bottom 9px
    font-size 1.8em
    font-family 'GothamProMedium', sans-serif
    font-weight 500
    line-height 1.4444
    letter-spacing -0.029em
    background-color #3472c7
    color #fff
    border-radius 3px
    cursor pointer
    &::after
      position absolute
      content ''
      display block
      width 6px
      height 8px
      z-index 5
      position absolute
      right 15px
      top 50%
      transform translateY(-50%)
      background-repeat no-repeat
      background-image url(../img/sprite-questions.png)
      background-position -20px -20px
  .questions
    display none

  &_active
    .questions-category
      margin-bottom 10px
      &__header
        color #3472c7
        background-color #f0f0f0
        box-shadow 1px 0 10px rgba(0,0,0,.1)
        &::after
          width 8px
          height 6px
          background-position -66px -20px
    .questions
      display block

.questions
  padding-left 13px
  padding-top 22px
  padding-bottom 22px
  box-shadow 1px 0 10px rgba(0,0,0,.1)
  &__item
    margin-bottom 4px
    color #3472c7
    font-size 1.8em
    line-height 1.6111
    letter-spacing -0.047em
    list-style none

.more-questions
  padding-top 30px
  padding-bottom 40px
  background-color #88a256
  text-align center
  &__header
    margin-bottom 6px
    font-size 2.6em
    line-height 1.5
    letter-spacing -0.057em
    color #fff
  &__text
    color #fff
    font-size 1.5em
    line-height 1.5
    letter-spacing -0.057em
