@import './components/_colors.styl'

.section
	&-terms
		&__terms
			&-container
				margin 0 0 70px
			&-description
				font-size 18px
				padding 0 0 20px
			&-content-wrapper
				padding 30px 0 0
			&-title
				color juiceOrange
				font-size 36px
				padding 60px 0 100px
				text-transform uppercase
				font-weight bold
			&-label
				font-size 32px
			&-content
				font-size 18px
@import './base/responsive.styl'