.button-rounded
	border-radius 4px
	display inline-block
	text-decoration none
	transition color ease .07s, background-color ease .07s
	&_juiceOrange
		border-color juiceOrange
		color juiceOrange
		&:hover
			background-color juiceOrange
			color almostWhite
.button
	display block
	border none
	border-radius 4px
	&-big
		width 264px
		font-size 16px
		padding 22px 0
		margin 0 auto
	&-juice
		background juiceOrange
		color white

.button-selected
	cursor pointer
	
.button-filled
	border-radius 4px
	display inline-block
	text-decoration none
	transition color ease .07s, background-color ease .07s
	&_juiceOrange
		background-color juiceOrange
		color almostWhite