.button-rounded
	border-radius 8px
	display inline-block
	text-decoration none
	transition color ease .07s, background-color ease .07s
	&_juiceOrange
		border-color juiceOrange
		color juiceOrange
		&:hover
			background-color juiceOrange
			color almostWhite


.button-selected
	cursor pointer
	
.button-filled
	border-radius 4px
	display inline-block
	text-decoration none
	transition color ease .07s, background-color ease .07s
	&_juiceOrange
		background-color juiceOrange
		color almostWhite