paste = #faf7f5
almostBlack = #242424
almostWhite = #fcfcfb
cuteBlack = #323232
juiceOrange = #ff9400
mellowOrange = #ff7e00
seriousBlue = #3472c7
lynch = #515151
fog = #f0f0ee
mist = #edeeef
scarlet = #cf3a24