<<<<<<< HEAD
.button-rounded {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: color ease 0.07s, background-color ease 0.07s;
}
.button-rounded_juiceOrange {
  border-color: #ff9400;
  color: #ff9400;
}
.button-rounded_juiceOrange:hover {
  background-color: #ff9400;
  color: #fcfcfb;
}
.button {
  display: block;
  border: none;
  border-radius: 4px;
}
.button-big {
  width: 264px;
  font-size: 16px;
  padding: 22px 0;
  margin: 0 auto;
}
.button-juice {
  background: #ff9400;
  color: #fff;
}
.button-selected {
  cursor: pointer;
}
.button-filled {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: color ease 0.07s, background-color ease 0.07s;
}
.button-filled_juiceOrange {
  background-color: #ff9400;
  color: #fcfcfb;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
body {
  font-family: 'GothamProRegular', sans-serif;
  background-color: #fff;
}
#page {
  width: 100%;
  height: auto;
  position: relative;
}
.row_c {
  margin: 0 -0.6rem;
  max-width: none;
  width: auto;
}
.row_c_r {
  margin: 0 -0.6rem 0 0;
  max-width: none;
  width: auto;
}
.row_c_l {
  margin: 0 0 0 -0.6rem;
  max-width: none;
  width: auto;
}
.form-ord {
  background-color: #fcfcfb;
  min-height: 620px;
}
.head-bar-info {
  background-color: #f0f0ee;
  padding-top: 78px;
  padding-bottom: 36px;
  position: relative;
}
.head-bar-info__title {
  font-family: 'GothamProBold', sans-serif;
  font-size: 3.6em;
  letter-spacing: -0.045em;
  color: #242424;
}
.form-ord__title {
  font-family: 'GothamProBold', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #88a256;
  padding: 46px 0 32px;
}
.form-ord__ind-t {
  font-size: 1.8em;
  padding: 0 10px;
}
.form-ord__el-form {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.1;
  height: 46px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  font-size: 1.8em;
  font-family: 'GothamProMedium', sans-serif;
  letter-spacing: -0.045em;
  cursor: pointer;
  color: #242424;
}
.form-ord__el-form:focus,
.form-ord__el-form:active {
  outline: none;
}
.form-ord__el-form_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/arr-drpdw.png");
  background-position: right center;
  background-repeat: no-repeat;
}
.form-ord__el-form_select >option {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 0.9em;
}
.form-ord__el-form_select_date {
  width: 330px;
  padding-left: 6px;
}
.form-ord__el-form_select_time {
  width: 110px;
  padding-left: 10px;
}
.form-ord__btn {
  display: inline-block;
  text-decoration: none;
  width: 260px;
  font-size: 1.6em;
  font-family: 'GothamProMedium', sans-serif;
  padding: 18px 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ff9400;
  background-color: #ff9400;
  transition: all ease 0.09s;
  margin-bottom: 78px;
  margin-top: 64px;
}
.form-ord__btn:hover {
  color: #ff9400;
  background-color: transparent;
}
.form-ord__range_nest {
  overflow: hidden;
}
.form-ord__range {
  width: 46px;
  height: 46px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  float: left;
  margin-right: 16px;
  text-align: center;
  font-size: 1.8em;
  font-family: 'GothamProBold', sans-serif;
  line-height: 46px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.form-ord__range_lt,
.form-ord__range_gt {
  color: #c4c4c4;
  cursor: pointer;
}
.form-ord__range_val {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.form-ord__taks-nest {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.form-ord__taks-item {
  width: 33.3333333%;
  height: 102px;
  display: block;
  float: left;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-color: #f0f0ee;
  border-bottom-color: #f0f0ee;
  cursor: pointer;
  transition: border-color ease 0.05s;
  position: relative;
  padding-left: 94px;
}
.form-ord__taks-item:nth-child(2) {
  border-left-color: #f0f0ee;
  border-right-color: transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-ord__taks-item:nth-child(4) {
  border-left-color: #f0f0ee;
  border-right-color: #f0f0ee;
}
.form-ord__taks-item:nth-child(6) {
  border-left-color: transparent;
  border-right-color: #f0f0ee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form-ord__taks-item .form-ord__taks-ico {
  width: 82px;
  height: 82px;
  left: 12px;
  top: 8px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}
.form-ord__taks-item .form-ord__taks-ico_1 {
  background-image: url("../img/icon-prices-2.jpg");
}
.form-ord__taks-item .form-ord__taks-ico_2 {
  background-image: url("../img/icon-prices-1.jpg");
}
.form-ord__taks-item .form-ord__taks-ico_3 {
  background-image: url("../img/icon-prices-3.jpg");
}
.form-ord__radio-taks:checked + label {
  border-color: #3472c7;
}
.form-ord__taks-title {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 1.6em;
  letter-spacing: -0.025em;
  line-height: 2;
  display: inline-block;
  padding-top: 10px;
  border-bottom: 1px solid #f0f0ee;
}
.form-ord__taks-cost {
  display: block;
  font-family: 'GothamProBold', sans-serif;
  font-size: 3.6em;
  line-height: 1;
  letter-spacing: -0.045em;
  position: relative;
  padding-top: 8px;
}
.form-ord__taks-cost_bl {
  color: #242424;
}
.form-ord__taks-cost_ble {
  color: #3472c7;
}
.form-ord__taks-cost_or {
  color: #ff9400;
}
.form-ord__taks-cost:after {
  content: 'руб \A /час';
  display: inline-block;
  position: relative;
  white-space: pre;
  font-size: 0.388888888888889em;
  font-family: 'GothamProRegular';
  vertical-align: top;
  padding-top: 4px;
  padding-left: 6px;
}
.form-ord__add-nest {
  overflow: hidden;
}
.form-ord__add-item {
  float: left;
  margin: 0 8px;
  position: relative;
  width: 84px;
  cursor: pointer;
}
.form-ord__add-item:nth-child(2) {
  margin-left: 0;
}
.form-ord__add-item:last-child {
  margin-right: 0;
}
.form-ord__add-ico {
  width: 84px;
  height: 84px;
  display: block;
  position: relative;
  background-color: #ddd;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: background-color ease 0.04s;
}
.form-ord__add-ico_0 {
  background-image: url("../img/clean-stuff-0_a.png");
}
.form-ord__add-ico_1 {
  background-image: url("../img/clean-stuff-1_a.png");
}
.form-ord__add-ico_2 {
  background-image: url("../img/clean-stuff-2_a.png");
}
.form-ord__add-ico_3 {
  background-image: url("../img/clean-stuff-3_a.png");
}
.form-ord__add-ico_4 {
  background-image: url("../img/clean-stuff-4_a.png");
}
.form-ord__add-ico_5 {
  background-image: url("../img/clean-stuff-5_a.png");
}
.form-ord__add-ico_6 {
  background-image: url("../img/clean-stuff-6_a.png");
}
.form-ord__add-ico+* {
  display: block;
  text-align: center;
  font-size: 1.3em;
  color: #404040;
  line-height: 1.285714;
  letter-spacing: -0.045em;
  padding-top: 16px;
}
[id*="form-ord__add-item_checker_"]:checked + label .form-ord__add-ico {
  background-color: #88a256;
}
.section-orders__orders-header {
  padding: 30px 0;
}
.section-orders__orders-header-title {
  font-size: 36px;
  font-weight: bold;
  padding: 12px 20px 0 0;
}
.section-orders__orders-header-pro-links,
.section-orders__orders-header-action-link {
  font-size: 16px;
  text-align: center;
}
.section-orders__orders-header-pro-links {
  padding: 0 0 0 20px;
}
.section-orders__orders-header-pro-link {
  position: relative;
  color: #adadad;
  padding: 22px 30px;
  border: 1px #adadad solid;
}
.section-orders__orders-list {
  padding: 25px 0;
  margin: 40px 0;
}
.section-orders__orders-list-wrapper {
  padding: 0 20px;
}
.section-orders__orders-info {
  padding: 0 0 20px;
}
.section-orders__orders-info-title {
  padding: 0 0 10px;
}
.section-orders__orders-summary {
  padding: 20px 0 0;
}
.section-orders__orders-housekeeper-info {
  font-size: 1.4em;
  font-weight: bold;
}
.section-orders__orders-housekeeper-info-title {
  text-transform: uppercase;
  color: #000;
  padding: 0 0 5px;
}
.section-orders__orders-housekeeper-info-name {
  color: #3472c7;
  font-size: 18px;
  padding: 5px 0 0;
}
.section-orders__orders-price {
  color: #88a256;
  font-size: 36px;
  padding: 12px 40px 8px;
}
.section-orders__orders-price sup {
  color: #404040;
  font-size: 14px;
  top: -1.1em;
}
.section-orders__orders-indicator {
  width: 180px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 18px 0;
  border-radius: 4px;
}
.pro-link-active {
  color: #3472c7;
  border-color: #3472c7;
  margin: 0 -1px 0 0;
}
.pro-link-unactive {
  border-left: 0;
}
.orders-label-dark,
.orders-label-grey {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.orders-address,
.orders-datetime,
.orders-delay,
.orders-rate {
  font-size: 18px;
  padding: 0 20px;
}
.orders-address input,
.orders-datetime input,
.orders-delay input,
.orders-rate input {
  padding: 10px 10px 8px;
}
.orders-address {
  width: 250px;
  padding-left: 0;
}
.orders-address-text {
  padding: 10px 0;
}
.orders-datetime {
  width: 350px;
}
.orders-datetime input {
  width: 140px;
}
.orders-datetime input[type="time"] {
  width: 110px;
  padding: 5px 10px 3px;
}
.orders-datetime-spaces span {
  padding: 0 10px;
}
.orders-datetime-time {
  font-size: 36px;
  padding: 0 6px 0 0;
}
.orders-datetime-date {
  text-align: left;
  font-size: 16px;
}
.orders-set-delay {
  display: block;
  padding: 10px 10px 8px;
  font-size: 1em;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  font-size: 18px;
  letter-spacing: -0.045em;
  cursor: pointer;
  color: #242424;
}
.orders-delay {
  font-size: 36px;
}
.orders-label-grey {
  color: #adadad;
}
.orders-rate {
  cursor: pointer;
}
.orders-rate-negative,
.orders-rate-positive {
  width: 50%;
  height: 45px;
}
.orders-rate-positive {
  background: transparent url("../img/rate-positive.png") no-repeat center center;
  border-right: 1px #adadad solid;
}
.orders-rate-negative {
  background: transparent url("../img/rate-negative.png") no-repeat center center;
}
.orders-indicator-notapproved {
  background: #ff9400;
}
.orders-indicator-approved {
  background: #404040;
}
.orders-status-notapproved-border,
.orders-status-success-border {
  border: 1px #ff9400 solid;
  border-radius: 4px;
}
.orders-status-success-border {
  border-color: #000;
}
.bordered-bottom {
  border-bottom: 1px #adadad solid;
}
.order-det-nest {
  width: 346px !important;
  transform: translateY(-92px);
  padding-left: 80px;
}
.order-det-nest.unfixed {
  position: absolute;
  top: 146px;
}
.order-det {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
}
.order-det:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  width: 80%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 64px 6px #c2c2c2;
}
.order-det_top {
  background-color: #88a256;
  font-family: 'GothamProMedium';
  font-size: 1.8em;
  padding: 24px 22px;
  letter-spacing: -0.025em;
  color: #fcfcfb;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.order-det_body {
  padding: 24px 26px;
  overflow: hidden;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.decor-nest {
  overflow: hidden;
  font-size: 1.4em;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #242424;
  padding: 10px 0;
  border-top: 1px solid #e2e2e1;
  border-bottom: 1px solid #e2e2e1;
  margin: 28px 0 12px;
}
.order-time {
  font-size: 3.6em;
  letter-spacing: -0.045em;
}
.order-date {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 1.6em;
}
.order-day {
  color: #242424;
  line-height: 1.0625;
}
.order-date-number {
  color: #ff9400;
  line-height: 1.0625;
}
.order-text-decor {
  font-size: 3.6em;
  letter-spacing: -0.045em;
  position: relative;
}
.order-text-decor:after {
  display: inline-block;
  position: relative;
  white-space: pre;
  font-size: 0.388888888em;
  font-family: 'GothamProRegular';
  vertical-align: top;
  padding-top: 2px;
  padding-left: 6px;
  letter-spacing: -0.035em;
}
.order-duration {
  color: #3472c7;
}
.order-duration:after {
  content: 'часа';
}
.order-taks {
  color: #3472c7;
}
.order-taks:after {
  content: 'руб \A /час';
}
.order-total {
  color: #88a256;
}
.order-total:after {
  content: 'руб';
}
.order-additional-task {
  font-size: 1.4em;
  line-height: 1.28571428;
  color: #777;
  margin-top: 12px;
}
.order-additional-task span {
  padding: 6px 0;
  display: inline-block;
}
.order-additional-task li {
  list-style-type: none;
  display: block;
  padding: 2px 0 0 10px;
  border-left: 2px solid #d5d5d5;
}
.order-det-promo {
  position: relative;
  width: 100%;
  padding-top: 38px;
}
.order-form-group {
  position: relative;
}
.order-form-group.valid input {
  border-color: #3472c7;
}
.order-form-group.nonvalid input {
  border-color: #f00;
}
.order-input {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 0 12px;
  margin: 0;
  font-family: 'GothamProRegular';
  font-size: 1.6em;
  line-height: 1;
  height: 46px;
  background-color: #fff;
  letter-spacing: -0.045em;
  border-radius: 4px;
  margin-bottom: 20px;
}
.order-input:focus {
  border-color: #ccc;
  box-shadow: inset 0 0 6px 0px #f7f7f7;
  outline: none !important;
}
.order-input:valid +.order-label,
.order-input:focus +.order-label {
  color: #555;
  transform: translate3d(12px, -6px, 0);
  font-size: 1.1em;
}
.order-input:invalid {
  outline: none;
  box-shadow: none;
}
.order-input +.order-label {
  display: block;
  position: absolute;
  font-family: 'GothamProRegular';
  font-size: 1.4em;
  line-height: 1;
  top: 0px;
  left: 0px;
  transform: translate3d(12px, 14px, 0);
  transition: all ease 0.1s;
  background-color: #fff;
  padding: 2px;
  letter-spacing: -0.045em;
  color: #bbb;
  cursor: text;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.order-input_promo {
  margin: 0 !important;
}
.order-select {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 0 12px;
  margin: 0;
  font-family: 'GothamProRegular';
  font-size: 1.6em;
  line-height: 1;
  height: 46px;
  background-color: #fff;
  letter-spacing: -0.045em;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}
.order-select:focus {
  outline: none;
}
.banner {
  background-color: #fcfcfb;
  position: relative;
  z-index: 1;
}
.ban-wrap {
  padding: 102px 0 160px;
}
.ban {
  position: relative;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-top: 70px;
  background-color: #fcfcfb;
}
.ban:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  width: 96%;
  height: 96%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 38px 16px #d5d5d4;
}
.ban-text {
  text-align: center;
  letter-spacing: -0.045em;
  margin-bottom: 48px;
  color: #464644;
}
.ban-text_a {
  font-size: 4em;
}
.ban-text_a .ban-person-name {
  text-transform: uppercase;
  font-family: 'GothamProMedium', sans-serif;
}
.ban-text_b {
  font-size: 3em;
  line-height: 1.3;
  margin-bottom: 32px;
}
.ban-text_c {
  font-family: 'GothamProLight', sans-serif;
  font-size: 2.4em;
  line-height: 1.3;
  margin-bottom: 72px;
}
.ban-text_d {
  font-size: 3em;
  line-height: 1.3;
  margin-bottom: 36px;
}
.ban-text_d >span {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 1.3333333em;
}
.ban-decorate-line {
  width: 100%;
  height: 1px;
  background-color: #e2e2e1;
  margin-bottom: 32px;
}
.ban-title {
  font-family: 'GothamProBold', sans-serif;
  font-size: 1.4em;
  line-height: 3;
  color: #88a256;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.add-wishes-text {
  display: block;
  padding: 0 20px 0 46px;
  cursor: pointer;
  font-family: 'GothamProLight', sans-serif;
  font-size: 2em;
  letter-spacing: -0.045em;
  line-height: 1.2;
  color: #464644;
  position: relative;
  margin-bottom: 52px;
}
.add-wishes-text:after {
  border: 2px solid #ddd;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 4px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNpi/P//PwM1ABMFeoWAmJFSgySA+AgQz4EbBvIaiVgCiK/9R4C5QMxEqSEg8BWItUk15DoWQxzAEYammIUcQ9ANqgLi/UDMRaohyAZVISk6gGQYUYbADNIB4j9oikGGKeEwxB6b92GMWCyG/SbWEPQwwmYYUYZgizVshhE0BJtB6IYRZQgug2CGfSLWEBBmxFOMiADxG2JzMeNgKI9QAECAAQCScdiDkML1FgAAAABJRU5ErkJggg==");
  background-position: center center;
  background-repeat: no-repeat;
  transition: border-color ease 0.08s, background-color ease 0.08s;
}
[id*="add-wishes_"] {
  display: none;
  position: absolute;
}
[id*="add-wishes_"]:checked + .add-wishes-text:after {
  background-color: #88a256;
  border-color: #88a256;
}
.ban-textarea {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  font-size: 1.8em;
  color: #444;
  letter-spacing: -0.045em;
  padding: 12px 14px;
}
.ban-textarea:focus {
  outline: none !important;
}
.ban-btn-nest {
  text-align: right;
}
.ban-text-icon {
  display: inline-block;
  width: 112px;
  height: 112px;
  background-image: url("../img/icon-features-4_big.png");
  vertical-align: middle;
}
.pay-card {
  width: 388px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 40px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #3472c7;
}
.pay-card__title {
  padding: 16px 0 14px;
  color: #fff;
}
.pay-card__title_notice {
  color: #3472c7;
  font-family: 'GothamProMedium', sans-serif;
  line-height: 1.3;
  font-size: 1.8em;
  text-transform: none;
  margin-top: 70px;
  margin-bottom: 10px;
}
.pay__logo-brands {
  width: 245px;
  height: 28px;
  background-image: url("../img/pay-brands.png");
  margin-top: 78px;
}
.pay-card-text {
  font-size: 1.4em;
  letter-spacing: -0.025em;
  line-height: 1.428571;
  color: #7a7a7a;
}
.pay-card-text_smaller {
  font-size: 1em;
}
.pay-card-text_bg {
  padding-left: 90px !important;
  position: relative;
}
.pay-card-text_bg:after {
  content: '';
  width: 53px;
  height: 37px;
  background-image: url("../img/pay-brand-trust.png");
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
}
.pay-footer {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #ccc;
  margin-top: 34px;
  padding: 44px 0;
}
.pay_btn {
  margin: 0;
  background-color: #88a256;
  border-color: #88a256;
}
.pay_btn:hover {
  color: #88a256;
  background-color: transparent;
}
.pay-footer .pay-card-text {
  padding-left: 40px;
  line-height: 1.3;
}
.pay-cost-wrap {
  padding-top: 38px;
  padding-left: 20px;
}
.pay-cost-title {
  font-size: 1.4em;
  letter-spacing: -0.025em;
  font-family: 'GothamProMedium', sans-serif;
  margin-bottom: 20px;
}
.pay-amount {
  font-size: 3.6em;
  color: #88a256;
  position: relative;
}
.pay-amount:after {
  content: 'руб';
  color: #242424;
  display: inline-block;
  vertical-align: top;
  font-size: 0.4em;
}
.pay-logo {
  font-family: 'GothamProBold', sans-serif;
  font-size: 3em;
  color: #3472c7 !important;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  line-height: 1;
  cursor: default;
}
.alfa-error-block {
  font-family: 'GothamProBold', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #cf3a24;
  padding: 70px 0 0 0;
  text-align: center;
}
@media screen and (max-width: 64.0625em) {
  .main-box .header-primary {
    margin-top: 52px;
  }
  .main-box .header-secondary {
    margin-bottom: 20px;
  }
  .header-primary {
    font-size: 3.4em;
  }
  .header-secondary {
    font-size: 1.4em;
  }
  .main-box__button {
    margin-bottom: 38px;
    font-size: 1.4em;
    padding: 14px 24px;
  }
  .main-box__aditional-link {
    margin-bottom: 28px;
    display: block;
    float: none;
  }
  .main-box {
    background-image: url("../img/main-background_medium.jpg");
  }
  .f-ext_h {
    margin: 0 !important;
  }
}
@media screen and (max-width: 840px) {
  .header {
    height: 54px;
  }
  .header__routes li {
    margin-left: 20px;
  }
  .header__logo {
    margin-top: 14px;
  }
  .header__nav {
    margin-top: 18px;
  }
  .header__routes_decorate {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 770px) {
  #page {
    padding-top: 54px;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
  }
  .header__dropdown,
  .header__auth,
  .header__nav {
    display: none;
  }
  .header__hmbrgr {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .main-box {
    background-image: none;
    text-align: center;
  }
  .header-primary {
    font-size: 2.2em;
  }
  .main-box .header-primary {
    margin-top: 32px;
  }
}
=======
.decor-nest,.form-ord__add-nest,.form-ord__range_nest,.order-det_body,.pay-card{overflow:hidden}.button-rounded{border-radius:4px;display:inline-block;text-decoration:none;-webkit-transition:color ease 70ms,background-color ease 70ms;transition:color ease 70ms,background-color ease 70ms}.button-rounded_juiceOrange{border-color:#ff9400;color:#ff9400}.button-rounded_juiceOrange:hover{background-color:#ff9400;color:#fcfcfb}.button{display:block;border:none;border-radius:4px}.button-big{width:264px;font-size:16px;padding:22px 0;margin:0 auto}.button-juice{background:#ff9400;color:#fff}.button-selected{cursor:pointer}.button-filled{border-radius:4px;display:inline-block;text-decoration:none;-webkit-transition:color ease 70ms,background-color ease 70ms;transition:color ease 70ms,background-color ease 70ms}.button-filled_juiceOrange{background-color:#ff9400;color:#fcfcfb}.center{text-align:center}.ban-btn-nest,.right{text-align:right}body{font-family:GothamProRegular,sans-serif;background-color:#fff}.form-ord__range,.form-ord__title,.head-bar-info__title{font-family:GothamProBold,sans-serif}#page{width:100%;height:auto;position:relative}.row_c,.row_c_l,.row_c_r{max-width:none;width:auto}.row_c{margin:0 -.6rem}.row_c_r{margin:0 -.6rem 0 0}.row_c_l{margin:0 0 0 -.6rem}.form-ord{background-color:#fcfcfb;min-height:620px}.head-bar-info{background-color:#f0f0ee;padding-top:78px;padding-bottom:36px;position:relative}.head-bar-info__title{font-size:3.6em;letter-spacing:-.045em;color:#242424}.form-ord__title{font-size:1.4em;text-transform:uppercase;letter-spacing:-.025em;color:#88a256;padding:46px 0 32px}.form-ord__btn,.form-ord__el-form{font-family:GothamProMedium,sans-serif}.form-ord__ind-t{font-size:1.8em;padding:0 10px}.form-ord__el-form{display:inline-block;padding:0;margin:0;line-height:1.1;height:46px;border:1px solid #c4c4c4;border-radius:4px;font-size:1.8em;letter-spacing:-.045em;cursor:pointer;color:#242424}.form-ord__el-form:active,.form-ord__el-form:focus{outline:0}.form-ord__el-form_select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url(../img/arr-drpdw.png);background-position:right center;background-repeat:no-repeat}.form-ord__el-form_select>option{cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;display:block;padding:0;margin:0;border:none;font-size:.9em}.form-ord__el-form_select_date{width:330px;padding-left:6px}.form-ord__el-form_select_time{width:110px;padding-left:10px}.form-ord__btn{display:inline-block;text-decoration:none;width:260px;font-size:1.6em;padding:18px 0;text-align:center;color:#fff;border-radius:4px;border:1px solid #ff9400;background-color:#ff9400;-webkit-transition:all ease 90ms;transition:all ease 90ms;margin-bottom:78px;margin-top:64px}.form-ord__btn:hover{color:#ff9400;background-color:transparent}.form-ord__range{width:46px;height:46px;border:1px solid #c4c4c4;border-radius:4px;float:left;margin-right:16px;text-align:center;font-size:1.8em;line-height:46px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.order-input+.order-label,.pay-logo{-moz-user-select:none;-ms-user-select:none;-o-user-select:none}.form-ord__range_gt,.form-ord__range_lt{color:#c4c4c4;cursor:pointer}.form-ord__range_val{background-color:#f0f0f0;border-color:#f0f0f0}.form-ord__taks-nest{overflow:hidden;position:relative;width:100%}.form-ord__taks-item{width:33.3333333%;height:102px;display:block;float:left;border-style:solid;border-top-color:#f0f0ee;border-bottom-color:#f0f0ee;cursor:pointer;-webkit-transition:border-color ease 50ms;transition:border-color ease 50ms;position:relative;padding-left:94px;border-width:1px}.form-ord__taks-item:nth-child(2){border-left-color:#f0f0ee;border-right-color:transparent;border-top-left-radius:4px;border-bottom-left-radius:4px}.form-ord__taks-item:nth-child(4){border-left-color:#f0f0ee;border-right-color:#f0f0ee}.form-ord__taks-item:nth-child(6){border-left-color:transparent;border-right-color:#f0f0ee;border-top-right-radius:4px;border-bottom-right-radius:4px}.form-ord__taks-item .form-ord__taks-ico{width:82px;height:82px;left:12px;top:8px;position:absolute;background-size:100%;background-repeat:no-repeat}.form-ord__taks-item .form-ord__taks-ico_1{background-image:url(../img/icon-prices-2.jpg)}.form-ord__taks-item .form-ord__taks-ico_2{background-image:url(../img/icon-prices-1.jpg)}.form-ord__taks-item .form-ord__taks-ico_3{background-image:url(../img/icon-prices-3.jpg)}.form-ord__radio-taks:checked+label{border-color:#3472c7}.form-ord__taks-title{font-family:GothamProMedium,sans-serif;font-size:1.6em;letter-spacing:-.025em;line-height:2;display:inline-block;padding-top:10px;border-bottom:1px solid #f0f0ee}.form-ord__taks-cost{display:block;font-family:GothamProBold,sans-serif;font-size:3.6em;line-height:1;letter-spacing:-.045em;position:relative;padding-top:8px}.form-ord__taks-cost_bl{color:#242424}.form-ord__taks-cost_ble{color:#3472c7}.form-ord__taks-cost_or{color:#ff9400}.form-ord__taks-cost:after{content:'руб \A /час';display:inline-block;position:relative;white-space:pre;font-size:.388888888888889em;font-family:GothamProRegular;vertical-align:top;padding-top:4px;padding-left:6px}.form-ord__add-item{float:left;margin:0 8px;position:relative;width:84px;cursor:pointer}.form-ord__add-item:nth-child(2){margin-left:0}.form-ord__add-item:last-child{margin-right:0}.form-ord__add-ico{width:84px;height:84px;display:block;position:relative;background-color:#ddd;background-size:100%;background-repeat:no-repeat;border-radius:4px;-webkit-transition:background-color ease 40ms;transition:background-color ease 40ms}.form-ord__add-ico_0{background-image:url(../img/clean-stuff-0_a.png)}.form-ord__add-ico_1{background-image:url(../img/clean-stuff-1_a.png)}.form-ord__add-ico_2{background-image:url(../img/clean-stuff-2_a.png)}.form-ord__add-ico_3{background-image:url(../img/clean-stuff-3_a.png)}.form-ord__add-ico_4{background-image:url(../img/clean-stuff-4_a.png)}.form-ord__add-ico_5{background-image:url(../img/clean-stuff-5_a.png)}.form-ord__add-ico_6{background-image:url(../img/clean-stuff-6_a.png)}.form-ord__add-ico+*{display:block;text-align:center;font-size:1.3em;color:#404040;line-height:1.285714;letter-spacing:-.045em;padding-top:16px}[id*=form-ord__add-item_checker_]:checked+label .form-ord__add-ico{background-color:#88a256}.order-det-nest{width:346px!important;-webkit-transform:translateY(-92px);-ms-transform:translateY(-92px);transform:translateY(-92px);padding-left:80px}.order-det-nest.unfixed{position:absolute;top:146px}.order-det{position:relative;background-color:#fff;border-radius:6px}.order-det:after{content:'';display:block;z-index:-1;position:absolute;width:80%;height:90%;left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);box-shadow:0 0 64px 6px #c2c2c2}.order-input,.order-select{position:relative;width:100%;height:46px}.order-det_top{background-color:#88a256;font-family:GothamProMedium;font-size:1.8em;padding:24px 22px;letter-spacing:-.025em;color:#fcfcfb;border-top-right-radius:4px;border-top-left-radius:4px}.order-det_body{padding:24px 26px;border-bottom-width:1px;border-left-width:1px;border-right-width:1px;border-color:#e0e0e0;border-style:solid;border-bottom-right-radius:4px;border-bottom-left-radius:4px}.decor-nest{font-size:1.4em;line-height:1;letter-spacing:-.025em;color:#242424;padding:10px 0;border-top:1px solid #e2e2e1;border-bottom:1px solid #e2e2e1;margin:28px 0 12px}.order-time{font-size:3.6em;letter-spacing:-.045em}.order-date{font-family:GothamProMedium,sans-serif;font-size:1.6em}.order-day{color:#242424;line-height:1.0625}.order-date-number{color:#ff9400;line-height:1.0625}.order-duration,.order-taks{color:#3472c7}.order-text-decor{font-size:3.6em;letter-spacing:-.045em;position:relative}.order-text-decor:after{display:inline-block;position:relative;white-space:pre;font-size:.388888888em;font-family:GothamProRegular;vertical-align:top;padding-top:2px;padding-left:6px;letter-spacing:-.035em}.order-duration:after{content:'часа'}.order-taks:after{content:'руб \A /час'}.order-total{color:#88a256}.order-total:after{content:'руб'}.add-wishes-text:after,.ban:after,.pay-card-text_bg:after{content:''}.order-additional-task{font-size:1.4em;line-height:1.28571428;color:#777;margin-top:12px}.order-input,.order-input+.order-label,.order-select{font-family:GothamProRegular;line-height:1;background-color:#fff;letter-spacing:-.045em}.order-additional-task span{padding:6px 0;display:inline-block}.order-additional-task li{list-style-type:none;display:block;padding:2px 0 0 10px;border-left:2px solid #d5d5d5}.order-det-promo{position:relative;width:100%;padding-top:38px}.order-form-group{position:relative}.order-form-group.valid input{border-color:#3472c7}.order-form-group.nonvalid input{border-color:red}.order-input{display:block;border:1px solid #e6e6e6;padding:0 12px;margin:0 0 20px;font-size:1.6em;border-radius:4px}.order-input:focus{border-color:#ccc;box-shadow:inset 0 0 6px 0 #f7f7f7;outline:0!important}.order-input:focus+.order-label,.order-input:valid+.order-label{color:#555;-webkit-transform:translate3d(12px,-6px,0);transform:translate3d(12px,-6px,0);font-size:1.1em}.order-input:invalid{outline:0;box-shadow:none}.order-input+.order-label{display:block;position:absolute;font-size:1.4em;top:0;left:0;-webkit-transform:translate3d(12px,14px,0);transform:translate3d(12px,14px,0);-webkit-transition:all ease .1s;transition:all ease .1s;padding:2px;color:#bbb;cursor:text;-webkit-user-select:none;user-select:none}.order-input_promo{margin:0!important}.order-select{display:block;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #e6e6e6;padding:0 12px;margin:0 0 20px;font-size:1.6em;border-radius:4px;cursor:pointer}.ban,.banner{position:relative;background-color:#fcfcfb}.order-select:focus{outline:0}.banner{z-index:1}.ban-wrap{padding:102px 0 160px}.ban{border-radius:4px;border:1px solid #ccc;padding-top:70px}.ban:after{display:block;z-index:-1;position:absolute;width:96%;height:96%;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);box-shadow:0 0 38px 16px #d5d5d4}.ban-text{text-align:center;letter-spacing:-.045em;margin-bottom:48px;color:#464644}.ban-text_a{font-size:4em}.ban-text_a .ban-person-name{text-transform:uppercase;font-family:GothamProMedium,sans-serif}.ban-text_b{font-size:3em;line-height:1.3;margin-bottom:32px}.ban-text_c{font-family:GothamProLight,sans-serif;font-size:2.4em;line-height:1.3;margin-bottom:72px}.ban-text_d{font-size:3em;line-height:1.3;margin-bottom:36px}.ban-text_d>span{font-family:GothamProMedium,sans-serif;font-size:1.3333333em}.ban-decorate-line{width:100%;height:1px;background-color:#e2e2e1;margin-bottom:32px}.ban-title{font-family:GothamProBold,sans-serif;font-size:1.4em;line-height:3;color:#88a256;letter-spacing:-.025em;text-transform:uppercase;margin-bottom:38px}.add-wishes-text{display:block;padding:0 20px 0 46px;cursor:pointer;font-family:GothamProLight,sans-serif;font-size:2em;letter-spacing:-.045em;line-height:1.2;color:#464644;position:relative;margin-bottom:52px}.pay-card__title_notice,.pay-cost-title{font-family:GothamProMedium,sans-serif}.add-wishes-text:after{border:2px solid #ddd;display:block;width:32px;height:32px;border-radius:4px;background-color:#fff;position:absolute;left:0;top:4px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNpi/P//PwM1ABMFeoWAmJFSgySA+AgQz4EbBvIaiVgCiK/9R4C5QMxEqSEg8BWItUk15DoWQxzAEYammIUcQ9ANqgLi/UDMRaohyAZVISk6gGQYUYbADNIB4j9oikGGKeEwxB6b92GMWCyG/SbWEPQwwmYYUYZgizVshhE0BJtB6IYRZQgug2CGfSLWEBBmxFOMiADxG2JzMeNgKI9QAECAAQCScdiDkML1FgAAAABJRU5ErkJggg==);background-position:center center;background-repeat:no-repeat;-webkit-transition:border-color ease 80ms,background-color ease 80ms;transition:border-color ease 80ms,background-color ease 80ms}[id*=add-wishes_]{display:none;position:absolute}[id*=add-wishes_]:checked+.add-wishes-text:after{background-color:#88a256;border-color:#88a256}.ban-textarea{display:block;width:100%;outline:0;border:1px solid #ccc;border-radius:4px;min-width:100%;max-width:100%;min-height:120px;font-size:1.8em;color:#444;letter-spacing:-.045em;padding:12px 14px}.ban-textarea:focus{outline:0!important}.ban-text-icon{display:inline-block;width:112px;height:112px;background-image:url(../img/icon-features-4_big.png);vertical-align:middle}.pay-card{width:388px;padding-left:12px;padding-right:12px;padding-top:40px;border-radius:4px;background-color:#3472c7}.pay-card__title{padding:16px 0 14px;color:#fff}.pay-card__title_notice{color:#3472c7;line-height:1.3;font-size:1.8em;text-transform:none;margin-top:70px;margin-bottom:10px}.pay__logo-brands{width:245px;height:28px;background-image:url(../img/pay-brands.png);margin-top:78px}.pay-card-text{font-size:1.4em;letter-spacing:-.025em;line-height:1.428571;color:#7a7a7a}.pay-card-text_smaller{font-size:1em}.pay-card-text_bg{padding-left:90px!important;position:relative}.pay-card-text_bg:after{width:53px;height:37px;background-image:url(../img/pay-brand-trust.png);display:block;position:absolute;top:5px;left:20px}.pay-footer{border-top-width:1px;border-bottom-width:1px;border-style:solid;border-color:#ccc;margin-top:34px;padding:44px 0}.pay_btn{margin:0;background-color:#88a256;border-color:#88a256}.pay_btn:hover{color:#88a256;background-color:transparent}.pay-footer .pay-card-text{padding-left:40px;line-height:1.3}.pay-cost-wrap{padding-top:38px;padding-left:20px}.pay-cost-title{font-size:1.4em;letter-spacing:-.025em;margin-bottom:20px}.alfa-error-block,.pay-logo{font-family:GothamProBold,sans-serif}.pay-amount{font-size:3.6em;color:#88a256;position:relative}.pay-amount:after{content:'руб';color:#242424;display:inline-block;vertical-align:top;font-size:.4em}.pay-logo{font-size:3em;color:#3472c7!important;float:right;-webkit-user-select:none;user-select:none;line-height:1;cursor:default}.alfa-error-block{font-size:1.4em;text-transform:uppercase;letter-spacing:-.025em;color:#cf3a24;padding:70px 0 0;text-align:center}@media screen and (max-width:64.0625em){.main-box .header-primary{margin-top:52px}.main-box .header-secondary{margin-bottom:20px}.header-primary{font-size:3.4em}.header-secondary{font-size:1.4em}.main-box__button{margin-bottom:38px;font-size:1.4em;padding:14px 24px}.main-box__aditional-link{margin-bottom:28px;display:block;float:none}.main-box{background-image:url(../img/main-background_medium.jpg)}.f-ext_h{margin:0!important}}@media screen and (max-width:840px){.header{height:54px}.header__routes li{margin-left:20px}.header__logo{margin-top:14px}.header__nav{margin-top:18px}.header__routes_decorate{padding-top:8px;padding-bottom:8px}}@media screen and (max-width:770px){#page{padding-top:54px}.header{position:fixed;width:100%;z-index:999;top:0}.header__auth,.header__dropdown,.header__nav{display:none}.header__hmbrgr{display:block}}@media screen and (max-width:640px){.main-box{background-image:none;text-align:center}.header-primary{font-size:2.2em}.main-box .header-primary{margin-top:32px}}
>>>>>>> 2b55078ebebc13134bfc82419a985c08d79cc61a
