.button-rounded {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: color ease 0.07s, background-color ease 0.07s;
}
.button-rounded_juiceOrange {
  border-color: #ff9400;
  color: #ff9400;
}
.button-rounded_juiceOrange:hover {
  background-color: #ff9400;
  color: #fcfcfb;
}
.button {
  display: block;
  border: none;
  border-radius: 4px;
  text-align: center !important;
}
.button-big {
  width: 264px;
  font-size: 16px;
  padding: 22px 0;
  margin: 0 auto;
}
.button-juice {
  background: #ff9400;
  color: #fff;
}
.button-selected {
  cursor: pointer;
}
.button-filled {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: color ease 0.07s, background-color ease 0.07s;
}
.button-filled_juiceOrange {
  background-color: #ff9400;
  color: #fcfcfb;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
@media only screen and (max-width: 40em) {
  .row {
    padding: 0 7px;
  }
}
body {
  font-family: 'GothamProRegular', sans-serif;
  background-color: #fff;
}
#page {
  width: 100%;
  height: auto;
  position: relative;
}
.content-section {
  padding: 65px 7px;
}
@media only screen and (max-width: 40em) {
  .content-section {
    padding: 0px 7px;
  }
}
.head-bar {
  padding: 22px 0;
  background-color: #f0f0ee;
  position: relative;
}
.head-bar__title {
  font-family: 'GothamProBold', sans-serif;
  font-size: 3.6em;
  letter-spacing: -0.045em;
}
.section-profile__profile-header {
  padding: 30px 0;
}
.section-profile__profile-header-title {
  font-size: 36px;
  font-weight: bold;
  padding: 12px 20px 0 0;
  letter-spacing: -0.035em;
}
.section-profile__profile-header-pro-links,
.section-profile__profile-header-action-link {
  font-size: 16px;
  text-align: center;
}
.section-profile__profile-header-pro-links {
  padding: 0 0 0 20px;
}
.section-profile__profile-header-pro-link {
  position: relative;
  padding: 22px 30px;
  border: 1px #adadad solid;
  color: #adadad;
  font-weight: bold;
}
.section-profile__profile-list {
  padding: 25px 0;
  background-color: #fff;
}
.section-profile__profile-list-wrapper {
  padding: 0;
}
.section-profile__profile-info,
.section-profile__profile-address,
.section-profile__profile-password {
  padding: 0 0 20px;
}
.section-profile__profile-info-title,
.section-profile__profile-address-title,
.section-profile__profile-password-title {
  display: block;
  padding-top: 10px;
  font-family: 'GothamProBold', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #88a256;
}
.section-profile__profile-info-details,
.section-profile__profile-address-details,
.section-profile__profile-password-details {
  padding: 25px 0 0;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 18px;
}
.section-profile__profile-info-details ul li,
.section-profile__profile-address-details ul li,
.section-profile__profile-password-details ul li {
  padding: 6px 0;
  list-style: none;
}
.section-profile__profile-info-details span,
.section-profile__profile-address-details span,
.section-profile__profile-password-details span {
  font-family: 'GothamPro', sans-serif;
}
.section-profile__profile-info-form,
.section-profile__profile-address-form,
.section-profile__profile-password-form {
  padding: 25px 0 0;
}
.section-profile__profile-info-form label,
.section-profile__profile-address-form label,
.section-profile__profile-password-form label {
  line-height: 2.4em;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 18px;
}
.section-profile__profile-info-control a,
.section-profile__profile-address-control a,
.section-profile__profile-password-control a {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: right top;
  height: 30px;
  margin: 8px 0 8px 60px;
  text-align: center;
  color: #fff;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 12px;
  opacity: 0.3;
  transition: all ease 0.09s;
}
@media only screen and (max-width: 60em) {
  .section-profile__profile-info-control a,
  .section-profile__profile-address-control a,
  .section-profile__profile-password-control a {
    margin: 8px 0;
    color: #636363;
  }
}
.section-profile__profile-info-control a:nth-child(1),
.section-profile__profile-address-control a:nth-child(1),
.section-profile__profile-password-control a:nth-child(1) {
  background-image: url("../img/close-btn.png");
  line-height: 2.3em;
}
.section-profile__profile-info-control a:nth-child(2),
.section-profile__profile-address-control a:nth-child(2),
.section-profile__profile-password-control a:nth-child(2) {
  background-image: url("../img/edit-btn.png");
  line-height: 3.3em;
}
.section-profile__profile-info-control a:hover,
.section-profile__profile-address-control a:hover,
.section-profile__profile-password-control a:hover {
  opacity: 1;
  color: #636363;
}
@media only screen and (max-width: 60em) {
  .section-profile__profile-info-control,
  .section-profile__profile-address-control,
  .section-profile__profile-password-control {
    text-align: center;
  }
}
.section-profile__profile-info-control-btn,
.section-profile__profile-address-control-btn,
.section-profile__profile-password-control-btn {
  float: right;
  font-size: 1.6em;
  width: 195px;
  padding: 9px 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ff9400;
  background-color: #ff9400;
  transition: all ease 0.09s;
}
.section-profile__profile-info-control-btn:hover,
.section-profile__profile-address-control-btn:hover,
.section-profile__profile-password-control-btn:hover {
  color: #ff9400;
  background-color: transparent;
}
@media only screen and (max-width: 60em) {
  .section-profile__profile-info-control-btn,
  .section-profile__profile-address-control-btn,
  .section-profile__profile-password-control-btn {
    float: none;
  }
}
.section-profile__profile-info-control-btn {
  margin-top: 20px;
}
.section-profile__profile-address-control-btn {
  margin-top: 20px;
}
.section-profile__profile-password-control-btn {
  margin-top: 167px;
}
@media only screen and (max-width: 60em) {
  .section-profile__profile-password-control-btn {
    margin-top: 20px;
  }
}
.section-profile:hover {
  color: #ff9400;
  background-color: transparent;
}
.section-profile:hover-summary {
  padding: 20px 0 0;
}
.section-profile:hover-housekeeper-info {
  font-size: 1.4em;
  font-weight: bold;
}
.section-profile:hover-housekeeper-info-title {
  text-transform: uppercase;
  color: #000;
  padding: 0 0 5px;
}
.section-profile:hover-housekeeper-info-name {
  color: #3472c7;
  font-size: 18px;
  padding: 5px 0 0;
}
.section-profile:hover-price {
  color: #88a256;
  font-size: 36px;
  padding: 12px 40px 8px;
}
.section-profile:hover-price sup {
  color: #404040;
  font-size: 14px;
  top: -1.1em;
}
.section-profile:hover-indicator {
  width: 180px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 18px 0;
  border-radius: 4px;
}
.pro-link-active {
  margin: 0 -1px 0 0;
  background-color: #fff;
  border-color: #3472c7;
  color: #000;
}
.pro-link-unactive {
  border-left: 0;
  color: #787878;
}
.bordered-bottom {
  border-bottom: 1px solid #d7d7d7;
}
.input-wrap {
  width: 270px;
  height: 46px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 96% center;
}
@media only screen and (max-width: 60em) {
  .input-wrap {
    width: 100%;
  }
}
.input-wrap.valid {
  background-image: url("../img/valid-form.png");
}
.input-wrap.nonvalid {
  background-image: url("../img/nonvalid-form.png");
}
.input-wrap input {
  display: block;
  position: relative;
  width: 88%;
  height: 100%;
  padding: 0 12px;
  margin: 0;
  border: none;
  font-family: 'GothamProRegular';
  font-size: 1.6em;
  line-height: 1;
  background-color: transparent;
  letter-spacing: -0.045em;
}
