<div class="contain-box contain-box_no-padding footer">
	
	<div class="row">
		<div class="push-1 small-12 medium-10 columns">
			<div class="row">
				<div class="row">
					<div class="row">
						
						<!-- !!! -->
							<div class="small-2 columns">
								<div class="footer__logo">uLime</div>
								<div class="footer__dropdown">
									<ul class="footer__routes">
										<li><a class="footer__routes_decorate" href="">Москва</a></li>
									</ul>
								</div>
							</div>
							<div class="small-3 columns">
								<div class="footer__text">Мобильные приложения</div>
								<a href="" class="footer__rounded-button">iOS</a>
								<a href="" class="footer__rounded-button">Android</a>
							</div>
							<div class="small-offset-1 small-2 columns">
								<div class="footer__text">Мы в соцсетях</div>
								<a href="" class="footer__social footer__social_fb"></a>
								<a href="" class="footer__social footer__social_vk"></a>
							</div>
							<div class="small-4 columns">
								<div class="right">
									<div class="footer__number">+7 (499)390-66-13</div>
									<div class="footer__text footer__text_near">info@ulime.ru</div>
									<div class="footer__text">&#169; 2015 uLime</div>
								</div>
							</div>
						<!-- !!! -->

					</div>
				</div>
			</div>
		</div>
	</div>

</div>