.footer
	background-color #f0f0f0
	padding 40px 0 84px 0 !important
	
.footer__logo
	font-family 'GothamProBold'
	font-size 3em
	letter-spacing -.045em
	color seriousBlue !important
	// float left
	text-decoration none
	outline none !important
	-moz-user-select none
	-webkit-user-select none
	user-select none
	// transform translateY(0)
	&:active
		outline none !important
		// transform translateY(1px)
	&:focus
		outline none !important

.footer__text
	font-size 1.8em
	letter-spacing -.045em
	margin-bottom 10px
	padding-top 8px

.footer__number
	font-family 'GothamProBold'
	font-size 2.4em
	letter-spacing -.045em
	color seriousBlue
	margin-bottom 24px

.footer__rounded-button
	display inline-block
	text-decoration none
	color almostBlack
	font-size 1.8em
	letter-spacing -.045em
	padding 12px 16px
	border 1px solid #b3b3b3
	border-radius 6px
	margin-right 10px
	&:hover
		background-color almostWhite
	
.footer__social
	display inline-block
	width 44px
	height 44px
	margin-right 6px
	background-image url(../img/soc-sprite.png)
	&:hover
		opacity .8
	&_fb
		background-position 0 0
	&_vk
		background-position 44px 0