.header
	height 72px

.header__logo
	font-family 'GothamProBold'
	font-size 3em
	letter-spacing -.045em
	color #fff !important
	float left
	margin-top 20px
	text-decoration none
	outline none !important
	-moz-user-select none
	-webkit-user-select none
	user-select none
	transform translateY(0)
	&:active
		outline none !important
		transform translateY(1px)
	&:focus
		outline none !important

.header__nav
	float right
	margin-right 100px
	margin-top 24px
	
.header__dropdown
	float left
	margin-top 14px
	.header__routes_decorate
		padding-right 40px
		position relative
		&:after
			content ''
			display block
			width 10px
			height 6px
			position absolute
			right 10px
			top 50%
			background-repeat no-repeat
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAARUlEQVQIHQXBMQ2EUABAsQdyMICLM8DK8icSEjwg9zYmUtpk8ZMku1WZ/DEkNx5zMsBw47UpyQC8NilJLnBKSpLsDkn6AA6uT9bzONjDAAAAAElFTkSuQmCC')

.header__auth
	float right
	margin-top 12px

.header__routes
	&_decorate
		padding 12px 20px
		border 1px solid rgba(#fff, .3)
		border-radius 6px
		&:hover
			background-color #467ecc

.header__routes li
	// float left
	display inline-block
	margin 0 0 0 40px

.header__routes a
	color #fff
	font-family 'GothamProRegular'
	display inline-block
	text-decoration none
	font-size 1.8em
	letter-spacing -.045em
	