.header
	-webkit-overflow-scrolling touch
	height 70px
	background-color seriousBlue

.header__logo
	font-family 'GothamProBold'
	font-size 3em
	letter-spacing -.045em
	color #fff !important
	float left
	margin-top 20px
	text-decoration none
	outline none !important
	-moz-user-select none
	-webkit-user-select none
	user-select none
	transform translateY(0)
	line-height 1
	&:active
		outline none !important
		transform translateY(1px)
	&:focus
		outline none !important

.header__nav
	float right
	margin-right 138px
	// margin-top 22px
	li
		margin-left 16px
		margin-right 16px

.header__dropdown
	float left
	// margin-top 10px
	margin-left 30px
	.header__routes_decorate
		padding-right 40px
		position relative
		&:after
			content ''
			display block
			width 10px
			height 6px
			position absolute
			right 10px
			top 50%
			transform translateY(-50%)
			background-repeat no-repeat
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAARUlEQVQIHQXBMQ2EUABAsQdyMICLM8DK8icSEjwg9zYmUtpk8ZMku1WZ/DEkNx5zMsBw47UpyQC8NilJLnBKSpLsDkn6AA6uT9bzONjDAAAAAElFTkSuQmCC')

.header__auth
	float right
	// margin-top 10px
	.header__routes_decorate
		margin-left 20px

.header__routes
	margin-top 24px
	&_decorate
		padding 12px 20px
		border 1px solid rgba(#fff, .3)
		border-radius 3px
		&:hover
			background-color #467ecc

.header__routes li
	// float left
	display inline
	// margin 0 0 0 40px

.header__routes a
	color #fff
	font-family 'GothamProRegular'
	text-decoration none
	font-size 1.8em
	letter-spacing -.045em

.header__hmbrgr
	width 24px
	height 16px
	display none
	// background-color red
	float right
	position relative
	margin-top 18px
	z-index 1010
	cursor pointer
	>div
		width 100%
		height 2px
		background-color almostWhite
		position absolute
		border-radius 1px
		outline none !important
	>:nth-child(1)
		top 0
	>:nth-child(2)
		top 50%
		margin-top -1px
	>:nth-child(3)
		bottom 0

.header__m-nav
	position fixed
	// z-index 1000
	background-color #255BA5
	width 220px
	// height 100%
	top 0
	bottom 0
	right -@width
	transform translate3d(0,0,0)
	transition transform .2s

.header__m-nav.active
	transform translate3d(-220px,0,0)

.header
	a
		&:not([class*="header__logo"])
			&:not([class*="header__routes_decorate"])
				&:hover
					opacity .86

.header__routes_auth
	position relative
	margin-top 12px
	.header__routes_login
		display inline-block
		vertical-align top
		width 205px
		&::after
			content ''
			display block
			width 10px
			height 6px
			position absolute
			right 10px
			top 50%
			transform translateY(-50%)
			background-repeat no-repeat
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAARUlEQVQIHQXBMQ2EUABAsQdyMICLM8DK8icSEjwg9zYmUtpk8ZMku1WZ/DEkNx5zMsBw47UpyQC8NilJLnBKSpLsDkn6AA6uT9bzONjDAAAAAElFTkSuQmCC')


.header-auth-list
	position absolute
	left 19px
	top 40px
	display none
	width 207px
	z-index 5
	font-size inherit
	border-radius-bottom 3px
	li
		display block
		background #fff
	a
		display block
		padding-left 20px
		padding-top 15px
		padding-bottom 15px
		color #3472c7
		&:hover
			background #b7cae3
			font-family 'GothamProMedium'
			padding-top 15px
	&__exit
		border-top 1px solid #3472c7

